name: Build Plugin

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build -x test --no-daemon

    - name: Upload plugin JAR
      uses: actions/upload-artifact@v4
      with:
        name: plugin-jar
        path: dist/build/libs/BetterHealthBar-*.jar

    - name: Upload shadow JAR
      uses: actions/upload-artifact@v4
      with:
        name: plugin-shadow-jar
        path: dist/build/libs/BetterHealthBar-*.jar
